@page "/"
@inject IEntityService Service

<div class="container">
    @foreach (var e in ToshaEntities)
    {
        if (e.ImageLink != null)
        {
            <ToshaEntity EntityObject="e" />
        }
        else
        {
            <DoubleToshaEntity EntityObject="e" />
        }
    }
    @if(EditorMode)
    {
        <ToshaEntity EditorMode="EditorMode" />
    }
</div>


@code {
    List<Entity> ToshaEntities = new List<Entity>();
    bool EditorMode = true;
    Entity EditorObject = new Entity() {  };

    protected override void OnInitialized()
    {
        ToshaEntities.AddRange(Service.GetEntities());
    }

    void Add()
    {
        ToshaEntities.Add(ToshaEntities.Last());
    }
}