html {
    background-color: #550707;
    margin: 0;
    padding: 0;
}

body {
    background-color: #550707;
    margin: 0;
    padding: 4px;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-gap: 4px;
    grid-auto-flow: dense;
}

@media(max-width: 1300px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: calc(25vw - 5px);
    }

    .double-entity > span {
        font-size: 3vw;
    }
}

@media(min-width: 1300px) {
    .container {
        grid-template-columns: repeat(8, 1fr);
        grid-auto-rows: calc(12.5vw - 4.5px);
    }

    .double-entity > span {
        font-size: 1.5vw;
    }
}

.entity > div {
    transition: transform ease-in-out 0.1s;
}

.entity:hover > div {
    transform: scale(0.9, 0.9);
}

.entity > div > img {
    width: 100%;
    height: 100%;
    clip-path: ellipse(50% 50%);
    -webkit-clip-path: ellipse(50% 50%);
}

.double-entity {
    grid-column: span 2;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: inline-flex;
    transition: transform ease-in-out 0.1s;
}

    .double-entity:hover {
        transform: scale(0.9, 0.9);
    }

    .double-entity > span {
        text-align: center;
        font-family: serif;
        color: white;
        width: 80%;
    }

span:hover {
    cursor: default;
}


.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 46px;
        height: 46px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}